.wrapper {
  padding: 1rem;
  width: 80%;
  margin:auto;
  box-shadow: 4px 4px 20px lightgray;

  h1 {
    text-align: center;
    padding-bottom: 3rem;
  }

  .section-flex {
    display: flex;
  }

}


