
<div class="landing-page-wrapper">
  <h2>Bienvenue sur la landing page</h2>

  <!-- FORMULAIRE TEMPLATE -->
  <form #emailForm="ngForm" (ngSubmit) = "onSubmitForm(emailForm)">
    <label for="emailInput">Inscrivez vous pour recevoir notre newsletter</label>
    <input type="email" id="emailInput"  [(ngModel)]="userEmail"name="userEmail"/>
    <button type="submit">Ok !</button>
  </form>
  <!-- FIN FORMULAIRE TEMPLATE -->


  <div class="landing-page-card">

    <div class="landing-page-card-text">

      Ceci est le text de ma superbe landing page !
      <div >
        <button class="call-to-action-btn" (click)="faceSnapsLink()">En savoir plus</button>
        <a class="call-to-action-btn" href="/facesnaps">En savoir plus</a>
      </div>
    </div>

  </div>
</div>
