.blog-article {

  background-color:rgb(245, 242, 242);
  margin: 2rem auto;
  padding: 1rem;
  width: 80%;
  border-radius: 20px 20px 0 0 ;
  box-shadow: 5px 5px 20px lightgray;
  position: relative;

  .block-buttons {

    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 3rem;

    .voir-plus {
      background-color: rgb(224, 224, 224);
      font-weight: 900;
      padding: 0.5rem;
      border: 0;
      box-shadow: 5px 5px 20px rgb(196, 154, 154);
      border-radius: 10px;
      text-decoration: none;
      color: black;

      &:hover{
        box-shadow: 10px 10px 10px rgb(196, 154, 154);
        transform: translate(2px, 2px);
      }
    }
    .categorie-label {
      position: absolute;
      bottom: 0;
      right: 0;
      border-left: 1px black solid;
      border-top: 1px black solid;
      border-top-left-radius: 10px ;
      padding: 0.3rem 0.3rem 0.6rem 0.3rem;
      min-width: 5rem;
      text-align: center;
      &--ville{
        background-color: rgb(122, 236, 236);
      }
      &--animaux{
        background-color: rgb(179, 243, 216);
      }
    }


  }

}
